nav {
  padding: 0 1rem;
}

#root,
.App {
  min-height: 100vh;
}

main.content {
  min-height: calc(100vh - 70px - 64px);
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.type-search label:not(:last-child) {
  margin-right: 1rem;
}
